html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin : auto;
    background-color: hsla(250, 45%, 75%, 0.57);
    height: 100%;
}

#calculator {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    padding-top: 1rem;
    border: thick double #32a1ce;
    border-radius: 1rem;
}

#title {
    /* margin : auto; */
    grid-column-start: 1 ;
    grid-column-end: 5;
    text-align: center;
    font-family: monaco, Consolas, "Lucida Console", monospace;
    /* font-size: 2.5em; */
}


.keys {
    padding : 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: thin solid black;
    border-radius: 0.5rem;
}

  .keys:hover {
    background: #9aaec5;
    top: -5px;
  }

  .keys:focus {
    background: #9aaec5;
    top: -5px;
  }


[data-type="op"],
[data-type="clear"], 
[data-type="del"],
[data-type="dot"],
[data-type="equal"]{
    background-color: burlywood;
}

#screen {
    grid-column-start: 1 ;
    grid-column-end: 5;
    padding: 0.5em;
    background-color:#84cfec;
    font-size: 2em;
    text-align: right;
    
    height: 25px;
    border: thin solid black;
}

#top {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: black;

}